.container{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: aliceblue;
    width: 24%;   
    box-sizing: border-box;
    padding: 20px;
    border-right: solid black 1px;
}

.mainBody{
    width: 76%;
    box-sizing: border-box;
    padding: 20px;
}